body,
html,
#root {
  font-size: 20px;
  color: #666;
  margin: 0;
  background: #f8f8f8;
  display: flex;
  flex-grow: 1;
  min-height: 100%;
  font-family: 'Bangers', cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex-grow: 1;
}

h1 {
  font-size: 4em;
  margin: 0;
  margin-bottom: 16px;
  padding: 0.5em 0;
  color: white;
  background: #f0141e;
  width: 100%;
  text-align: center;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
}

input {
  width: 80%;
  max-width: 600px;
  padding: 32px;
  font-size: 2em;
  background: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  outline-style: none;
  border: none;
  font-family: inherit;
  text-align: center;
}

.character-list {
  width: calc(100% - 32px);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.character-list ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.character-list .helper {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.empty {
  padding: 32px;
  opacity: 0.5;
}

.character {
  position: relative;
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
  animation-name: appearUp;
  animation-duration: 600ms;
}

.character .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: 1;

  /* Prevent text color changes during transitions */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.character .content.bookmarked {
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08);
  border: 4px solid #f0141e;
}

.character .helper {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 4px;
  padding-bottom: inherit;
  opacity: 0.5;
}

.character .content .image {
  width: 100%;
  height: 450px;
  background-image: url('/placeholder.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation-name: appear;
  animation-duration: 300ms;
}

.character .content .footer {
  min-height: 2em;
  flex-grow: 1;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.character .content .footer h3 {
  margin: 0;
}

/* Disable hover animations on smaller screens */
@media (min-width: 1024px) {
  .character .content:hover {
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.16);
    transform: translate(0, -40px);
    transition-delay: 0s;
  }
}

@media (max-width: 1024px) {
  .character {
    width: calc(100% / 2);
  }
}

@media (max-width: 480px) {
  .character {
    width: calc(100% / 1);
  }
}

.disclaimer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pagination .value {
  padding: 0 16px;
}

.pagination button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  opacity: 1;
  transition: opacity 300ms ease;
}

.pagination button:hover {
  opacity: 0.6;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appearUp {
  from {
    opacity: 0.5;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
